/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: var(--special-dark-light, #444444);
  font-size: 14px;
  line-height: 18px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}
