/* здесь используйте глобальные переменные */
:root {
  --basic-light-color: #ffffff;
  --secondary-basic-light-accent-1: #f2f2f2;
  --secondary-basic-light-accent-2: #eaeaea;

  --basic-brand-color: #68b738;

  --darken-color: #000000;
  --darken-lighten: #111111;
  --special-dark: #222222;
  --special-dark-light: #444444;
}
