/* здесь используйте глобальные переменные */
:root {
  --basic-light-color: #ffffff;
  --secondary-bg-color: #f2f2f2;
  --secondary-darker-bg-color: #eaeaea;
  --basic-bg-green: #68b738;
  --text-black: #000000;
  --text-black-secondary: #111111;
  --special-dark-gray: #444444;
}
