.about-works {

}

.about-works__container {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 45px 0 47px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.about-works__title {
  margin: 0;
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.11;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 40px;
  }
}

.about-works__list {
  margin: 0;
  padding: 0;
  display: flex;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: $tablet-width) {
    gap: 37px 60px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 78px;
  }
}

.about-works__item {
  &--eco::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-eco");
  }

  &--easy::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-colb");
  }

  &--eat::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-tableware");
  }

  &--time::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#icon-clock");
  }

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
  }
}

.about-works__description {
  margin: 0;
}
