.about-works {

}

.about-works__title {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.11;
}

.about-works__list {

}

.about-works__item {

}

.about-works__description {

}

.about-works__item--eco {

}

.about-works__item--easy {

}

.about-works__item--eat {

}

.about-works__item--time {

}
