.button-link {
  font-family: $secondary-font;
  color: var(--basic-light-color);
  background-color: var(--basic-bg-green);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-link--secondary {

}

