.button-link {
  font-family: $secondary-font;
  color: var(--basic-light-color, #ffffff);
  background-color: var(--basic-brand-color, #68b738);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.button-link--secondary {

}
