.contacts {

}

.contacts__map-image {

}

.contacts__address-wrepper {

}

.contacts__description {
  font-family: $secondary-font;
  font-weight: 400;
  color: var(--text-black-secondary);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address-wrapper {

}

.contacts-description {

}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}

.contacts__street {

}

.contacts__city {

}
