.contacts {
  min-width: 280px;
}

.contacts--catalog {
  background-color: var(--secondary-basic-light-accent-1, #f2f2f2);
}

.contacts__container {
  width: 280px;
  margin: 0 auto;
  padding: 26 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.contacts__map-image {

}

.contacts__address-wrepper {

}

.contacts__description {
  font-family: $secondary-font;
  color: var(--darken-lighten, #111111);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.contacts__description {
  margin: 0;
}

.contacts__address {
  line-height: 1.42;
  font-style: normal;
}

.contacts__street {
  margin: 0;
}

.contacts__city {
  margin: 0;
}
