.contacts {

}

.contacts__map-image {

}

.contacts__address-wrepper {

}

.contacts__description {
  font-family: $secondary-font;
  color: var(--darken-lighten, #111111);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.contacts__address-wrapper {

}

.contacts-description {

}

.contacts__address {
  line-height: 1.42;
  font-style: normal;
}

.contacts__street {

}

.contacts__city {

}
