.developer {

}

.developer__icon {
  width: 27px;
  height: 24px;
  background-color: var(--special-dark-light-accent-2, #666666);
  mask-image: url("../../icons/stack.svg#icon-htmlacademy");
}

.developer__text {
  color: var(--special-dark-light, #444444);
  font-size: 16px;
  line-height: 1.25;
}

