.developer {

}

.developer__icon {
  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 24px;
    mask-image: url("../../icons/stack.svg#icon-htmlacademy");
    mask-size: 27px 24px;
    mask-repeat: no-repeat;
    background-color: var(--special-dark-light-accent-2, #666666);
  }

  &:hover::before {
    background-color: var(--basic-brand-color, #68b738);
  }

  &:focus::before {
    background-color: var(--basic-brand-color, #68b738);
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__text {
  color: var(--special-dark-light, #444444);
  font-size: 16px;
  line-height: 1.25;
}

