.example {
  padding: 40px 0 25px;
  background-color: var(--secondary-basic-light-accent-2, #eaeaea);
}

.example__container {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 36px;
  line-height: 1.11;
}

.example__title {
  margin: 0;
}
