.extra-sale__container {
  width: 280px;
  margin: 0 auto;
  display: grid;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 80px;
  }
}

.extra-sale__title {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 24px;
  line-height: 1;
  padding: 0 0 36px;
  margin: 0;
  background-color: var(--basic-light-color, #ffffff);
  width: fit-content;
  box-shadow:
    40px 0 0 0 var(--basic-light-color, #ffffff),
    -40px 0 0 0 var(--basic-light-color, #ffffff);

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    right: 0;
    background-color: var(--basic-brand-color, #68b738);
    box-shadow: 100vw 0 0 0 var(--basic-brand-color, #68b738);
    margin-top: 11px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    padding: 0;
    margin: 0 0 80px 40px;

    &::before {
      margin-top: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin: 0;

    &::before {
      margin-top: 17px;
    }
  }
}
