.extra-product {

}

.extra-product__item {

}

.extra-product__row {
  line-height: 1;
}

.extra-product__name {

}

.extra-product__link {
  font-family: $secondary-font;
  color: var(--special-dark, #222222);
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.extra-product__data {

}

.extra-product__price {
  line-height: 1;
}

.extra-product__button-link {

}
