.footer {
  padding: 40px 0;
  background-color: var(--secondary-basic-light-accent-1, #f2f2f2);

  @media (min-width: $tablet-width) {
    padding: 55px 0;
  }
}

.footer__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    width: 1220px;
  }
}

.footer__logo-link {

}

.footer__logo-link--text-logo {
  width: 128px;
  height: 24px;
  margin: 0 auto;
}
