.main-nav {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    color: var(--basic-light-color, #ffffff);
    background-color: var(--basic-brand-color, #68b738);
  }
}

.main-nav--index {

}

.main-nav--catalog {

}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
  }
}

.main-nav__item {

}

.main-nav__link {
  color: var(--darken-color, #000000);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    color: var(--basic-light-color, #ffffff);
  }
}

.main-nav__link--current {

}

.main-nav__toggle {
  background-image: url("../../icons/stack.svg#button-burger");
  background-color: var(--basic-light-color, #ffffff);
  width: 24px;
  height: 24px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

