.main-nav {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}

.main-nav--index {

}

.main-nav--catalog {

}

.main-nav__list {

}

.main-nav__item {

}

.main-nav__link {
  color: var(--darken-color, #000000);
}

.main-nav__link--current {

}

.main-nav__toggle {

}

