.main-header {
  // padding: 13px 0 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }
}

.main-header__container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  padding: 13px 0 14px;
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 18px;
    padding: 16px 0;
  }
}
