.main-header {
  min-width: 280px;

  @media (max-width: $mobile-width-only) {
    &--catalog {
      box-shadow: 0 0 0 1px var(--special-dark-light-accent-4, #d9d9d9);
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.main-header__container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  min-height: 65px;
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 13px;
    min-height: 50px;
  }
}
