.main-nav {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}

.main-nav--index {

}

.main-nav--catalog {

}

.main-nav__list {

}

.main-nav__item {

}

.main-nav__link {
  color: var(--darken-color, #000000);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--current {

}

.main-nav__toggle {
  background-image: url("../../icons/stack.svg#button-burger");
  background-color: var(--basic-light-color, #ffffff);
  width: 24px;
  height: 24px;
  border: none;
}

