.product-card {
  display: grid;
  grid-template-columns: 140px 76px 64px;
  grid-template-rows: 70px 70px 40px;
  padding: 20px 0 25px;

  @media (min-width: $tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    padding: 0 37px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 38px 40px;
  }
}

.product-card__link {
  grid-area: 1/2/2/3;
  font-family: $secondary-font;
  color: var(--special-dark, #222222);
  text-transform: uppercase;

  &--view-all::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#icon-plus");
    margin: 0 auto;
  }
}

.product-card__image-wrapper {
  width: 140px;
  height: 107px;
  grid-area: 1/1/3/2;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.product-card__image--big {

}

.product-card__title {
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

.product-card__specifications {
  grid-area: 2/2/3/4;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card__term {
  margin: 0;
  padding: 0;
  justify-self: start;
}

.product-card__value {
  margin: 0;
  padding: 0;
  justify-self: end;
}

.product-card__button-link {
  grid-area: 3/1/4/-1;
}

.button-link--secondary {
  color: var(--special-dark-light, #444444);
  background-color: var(--secondary-basic-light-accent-1, #f2f2f2);
}

.product-card__title--view-all {
  color: var(--darken-lighten, #111111);
}

.product-card__description {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
}

.product-card__link--view-all {
  text-align: center;
}
