.product-card {

}

.product-card__link {
  font-family: $secondary-font;
  color: var(--special-dark, #222222);
  text-transform: uppercase;
}

.product-card__image {

}

.product-card__image--big {

}

.product-card__title {
  font-size: 16px;
  line-height: 1.25;
}

.product-card__specifications {
  font-size: 12px;
  line-height: 1.33;
}

.product-card__term {

}

.product-card__value {

}

.product-card__button-link {

}

.button-link--secondary {
  color: var(--special-dark-light, #444444);
  background-color: var(--secondary-basic-light-accent-1, #f2f2f2);
}

.product-card__title--view-all {
  color: var(--darken-lighten, #111111);
}

.product-card__description {
  font-size: 12px;
  line-height: 1.33;
}
