.product-catalog {
  @media (min-width: $tablet-width) {
    padding: 0 0 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 71px;
  }
}

.product-catalog__container {
  width: 280px;
  margin: 0 auto;
  padding: 27px 0 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 67px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 74px 0 0;
  }
}

.product-catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1;
  color: var(--darken-color, #000000);
  margin: 0;
  padding: 0 0 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding: 0 0 84px;
  }
}
