.program-efect {

}

.program-effect__list {

}

.program-effect__item {

}

.program__title {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
}

.program__description {
  color: var(--special-dark-light, #444444);
}

.program__link {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}

.program--slim {

}

.program--pro {

}
