.program-effect {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0  0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0  0 71px;
  }
}

.program-effect__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.program-effect__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.program-effect__item {
  background-color: var(--secondary-basic-light-accent-1, #f2f2f2);
  display: grid;
  align-items: center;

  &--slim::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-program");
  }

  &--pro::before {
    content: "";
    display: block;
    margin-left: -8px;
    width: 67px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-program2");
  }

  @media (max-width: $mobile-width-only) {
    padding: 24px 20px 18px;
    grid-template-columns: 60px 1fr;

    &--slim {
      column-gap: 10px;
    }

    &--pro {
      column-gap: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 340px 1fr;
    grid-template-rows: min-content 1fr auto;
    padding: 77px 63px 57px 52px;
    min-height: 372px;

    &--slim::before {
      content: "";
      display: block;
      width: 200px;
      height: 211px;
      background-image: url("../../icons/stack.svg#cat-program-tablet");
      grid-area: 1 / 2 / -1 / 3;
      place-self: flex-start right;
      margin-top: 4px;
    }

    &--pro::before {
      content: "";
      display: block;
      margin-left: 19px;
      width: 268px;
      height: 206px;
      background-image: url("../../icons/stack.svg#cat-program-tablet2");
      grid-area: 1 / 2 / -1 / 3;
      margin-top: -9px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    grid-template-columns: 162px 1fr;
    grid-template-rows: 1fr min-content min-content;
    padding: 41px 61px 55px 52px;

    &--slim::before {
      width: 100px;
      height: 106px;
      grid-area: 1/1/2/2;
      justify-self: left;
      margin: 0;
    }

    &--pro::before {
      margin-left: -17px;
      width: 134px;
      height: 100px;
      grid-area: 1/1/2/2;
      justify-self: left;
    }
  }
}

.program-effect__title {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    align-self: start;
    margin: 0 0 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: center;
  }
}

.program-effect__description {
  margin: 0;
  color: var(--special-dark-light, #444444);

  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--special-dark-light-accent, #d9d9d9);

    @media (max-width: $mobile-width-only) {
      margin: 23px 0 15px;
      align-self: start;
    }
  }

  @media (max-width: $mobile-width-only) {
    grid-area: 2 / 1 / 3 / -1;
    margin-top: 22px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    color: var(--darken-color, #000000);
    align-self: flex-start;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-area: 2 / 1 / 3 / 3;
    padding: 29px 0;
  }
}

.program-effect__link {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 12px;
    background-image: url("../../icons/stack.svg#icon-arrow");
    background-position: -8px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-position 0.3s;
  }

  &:hover::after {
    background-position: center;
  }

  @media (max-width: $mobile-width-only) {
    grid-area: 3 / 1 / 4 / -1;
    gap: 17px;
    padding: 3px 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    gap: 25px;
    padding: 4px 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3/1/4/-1;
  }
}
