.program-efect {

}

.program-effect__list {

}

.program-effect__item {

}

.program__title {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
}

.program__description {
  color: var(--special-dark-light, #444444);
}

.program__link {
  color: var(--darken-color, #000000);
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/stack.svg#icon-arrow");
  }
}

.program--slim::before {
  content: "";
  display: block;
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat-program");
}

.program--pro::before {
  content: "";
  display: block;
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-program2");
}
