.promo-banner {
  background-color: var(--basic-brand-color, #68b738);

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#icon-gift");
  }
}

.promo-banner__description {
  color: var(--basic-light-color, #ffffff);
  font-size: 16px;
  line-height: 1.25;
}
