.sales {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.sales__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 96px 0;
  }
}

.sales__title {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 24px;
  line-height: 1;
  margin: 0;
  width: fit-content;
  background-color: var(--basic-light-color, #ffffff);
  box-shadow:
    40px 0 0 0 var(--basic-light-color, #ffffff),
    -40px 0 0 0 var(--basic-light-color, #ffffff);

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    right: 0;
    background-color: var(--basic-brand-color, #68b738);
    box-shadow: 100vw 0 0 0 var(--basic-brand-color, #68b738);
    margin-top: 9px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 1;
    margin: 0 0 0 40px;

    &::before {
      margin-top: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin: 0 0 72px;

    &::before {
      margin-top: 16px;
    }
  }
}
