.stats {

}

.stats-list {

}

.stats-item {

}

.stats__term {
  font-size: 12px;
  line-height: 1;
}

.stats__description {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 24px;
  line-height: 1;
}

.stats__item--row {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  line-height: 1.42;
  text-transform: uppercase;
}

.stats__item-row {

}

.stats__price {

}

