
.stats {
  display: grid;
  gap: 20px 32px;
  margin: 0;
  padding-bottom: 20px;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.stats__item {
  display: grid;
  justify-items: center;

  &--row {
    font-family: $secondary-font;
    color: var(--darken-color, #000000);
    line-height: 1.42;
    text-transform: uppercase;
    flex-direction: row;
    grid-area: 2/1/3/-1;
    justify-self: center;
    display: flex;
    gap: 3px;
    border: none;
  }
}

.stats__term {
  width: 70%;
  font-size: 12px;
  line-height: 1;
  order: 2;
  text-align: center;
  background-color: #eaeaea;
  padding: 4 14px;
  margin-top: -12px;
  margin-bottom: 12px;
}

.stats__description {
  box-shadow: 0 0 0 1px var(--special-dark-light-accent-5, #cdcdcd);
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 24px;
  line-height: 1;
  width: 100%;
  text-align: center;
  padding-block: 14px;
  border-radius: 3%;
  margin: 0;
}

.stats__price {
  margin: 0;
}
