.subscribe {

}

.subscribe__description {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 16px;
  line-height: 1.5;
}

.subscribe__form {

}

.subscribe__input-email {
  font-family: $secondary-font;
  color: var(--special-dark-light, #444444);
  font-size: 20px;
  text-transform: uppercase;
}

.subscribe-button {

}
