.subscribe {

}

.subscribe__description {
  font-family: $secondary-font;
  color: var(--text-black);
  font-size: 16px;
  line-height: 24px;
}

.subscribe__form {

}

.subscribe__input-email {
  font-family: $secondary-font;
  color: var(--special-dark-gray);
  font-size: 20px;
  text-transform: uppercase;
}

.subscribe-button {

}
