.subscribe__description {
  font-family: $secondary-font;
  color: var(--darken-color, #000000);
  font-size: 16px;
  line-height: 1.5;
  padding: 32px 0 24px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.33;
    width: 632px;
    padding: 66px 0 24px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    padding: 0 0 24px;
  }
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
  }
}

.subscribe__input-email {
  font-family: $secondary-font;
  color: var(--special-dark-light, #444444);
  font-size: 20px;
  padding: 13px;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid var(--special-dark-light-accent-7, #e7e7e7);

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }

  &:hover {
    border-color: var(--special-dark-light-accent-5, #cdcdcd);
  }

  &:focus {
    outline-color: var(--special-dark-light, #444444);
  }
}

// .subscribe__input-email.error {
//   border-color: var(--status-error, #ff8282);
// }

.subscribe-button {
  border: none;
  padding: 15px 26px;
  width: 100%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  &:hover {
    background-color: var(--button-lighten-color-hex, #5eaa2f);
  }

  &:active {
    background-color: var(--button-lighten-color-hex, #5eaa2f);
    color: var(--basic-light-color-rgba, rgba(255, 255, 255, 0.3));
  }
}
